<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_id</key>
		<string>200</string>
		<key>face_image_name</key>
		<string>emotion0</string>
		<key>face_name</key>
		<string>emotion0</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>201</string>
		<key>face_image_name</key>
		<string>emotion1</string>
		<key>face_name</key>
		<string>emotion1</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>202</string>
		<key>face_image_name</key>
		<string>emotion2</string>
		<key>face_name</key>
		<string>emotion2</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>203</string>
		<key>face_image_name</key>
		<string>emotion3</string>
		<key>face_name</key>
		<string>emotion3</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>204</string>
		<key>face_image_name</key>
		<string>emotion4</string>
		<key>face_name</key>
		<string>emotion4</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>205</string>
		<key>face_image_name</key>
		<string>emotion5</string>
		<key>face_name</key>
		<string>emotion5</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>206</string>
		<key>face_image_name</key>
		<string>emotion6</string>
		<key>face_name</key>
		<string>emotion6</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>207</string>
		<key>face_image_name</key>
		<string>emotion7</string>
		<key>face_name</key>
		<string>emotion7</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>208</string>
		<key>face_image_name</key>
		<string>emotion8</string>
		<key>face_name</key>
		<string>emotion8</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>209</string>
		<key>face_image_name</key>
		<string>emotion9</string>
		<key>face_name</key>
		<string>emotion9</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>210</string>
		<key>face_image_name</key>
		<string>emotion10</string>
		<key>face_name</key>
		<string>emotion10</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>211</string>
		<key>face_image_name</key>
		<string>emotion11</string>
		<key>face_name</key>
		<string>emotion11</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>212</string>
		<key>face_image_name</key>
		<string>emotion12</string>
		<key>face_name</key>
		<string>emotion12</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>212</string>
		<key>face_image_name</key>
		<string>emotion13</string>
		<key>face_name</key>
		<string>emotion13</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>214</string>
		<key>face_image_name</key>
		<string>emotion14</string>
		<key>face_name</key>
		<string>emotion14</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>215</string>
		<key>face_image_name</key>
		<string>emotion15</string>
		<key>face_name</key>
		<string>emotion15</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
